.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 10px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    margin: -20px;
}

.footer-social svg {
    fill: #fff;
    transition: fill 0.3s ease-in-out;
}

.footer-links {
    margin: 0px 10px 0px;
}