.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo img {
    max-width: 100px;
}

.header-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.header-social a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}

.header-social i {
    transition: color 0.3s ease-in-out;
}

.header-social i:hover {
    color: #55acee;
}